/*font-family: 'Vidaloka', serif >>>text;
font-family: 'Tauri', cursive;*  >> Titles/*/

body {
  /*padding: 50px;*/
  background-color: #F2F2F2;
  font: 14px 'Vidaloka', Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
}

.title-font {
  font-family: 'Tauri', serif;
}


.img-padding {
  padding: 10px;
}

.form-margin {
  padding: 10px;
}


.twitter-border {
  border: 2px solid #DCDCDC;
}

.project-container {
  border: 2px solid #D8619D;
  border-radius: 5px;
  padding: 30px;
  margin: 10px 20px 50px 20px;
}

.project-img {
  margin: 20px 0px 30px 0px;
}
.twitter-text {
  color: #00aced;
}

.linkedin-text {
  color: #007bb6;
}

.linkedin-border {
  border: 2px solid #007bb6;
}

.pink-hr {
  color: #F06BA8;
}

.social-pad {
  padding: 10px;
}
.social-marg {
  margin: 20px;
}
.social-box {
  border-radius: 4px;
  margin-bottom: 20px;
}
.contact-box {
  padding: 50px 0px 20px 0px;
}

.linkedin-box {
  padding: 30px 0px 30px 0px;
}

.padding-30 {
  /*margin: auto;*/
  padding: 30px;
}
.custom-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #F06BA8;
  width: 100px;
  color: #F06BA8;
}

.custom-input-form {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #F06BA8;
  width: 40%;
  color: #F06BA8;
}

.custom-text-area {
  border: 0;
  outline: 0;
  background: transparent;
  border: 2px solid #F06BA8;
  width: 80%;
  color: #F06BA8;
  margin-top: 20px;
}


.custom-submit {
  border: 0;
  outline: 0;
  background: transparent;
  border: 2px solid #F06BA8;
  width: 1-0%;
  color: #F06BA8;
  margin-top: 20px;
}
.welcome-title {
  background-color: black !important;
  width: 100px;
  height: 60px;
}
.welcome-div {
  height: 500px;
  /*padding-top: 50px;*/
}

.welcome-box {
}

.welcome-box-pd {
  padding: 10px;
}

table td {
  border-top: none !important;
}


.header-div {
  padding-bottom: - 100px;
}
.home-submit {
  background: transparent;
  border: none;
  color: #F06BA8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#home-input {
  padding-left: 10px;
}

#greeting {
  padding-left: 20px;
}

a {
  color: #00B7FF;
}

.pink-zero {
  background-color: #F06BA8;
}

.pink-one {
  background-color: #D8619D;
}

.pink-two {
  background-color: #C5588E;
}

.pink-three {
  background-color: #AA4D80;
}

.pink-four {
  background-color: #8C426E;
}

.pink-zero-text {
  color: #F06BA8;
}

.pink-one-text {
  color: #D8619D;
}

.pink-two-text {
  color: #C5588E;
}

.pink-three-text {
  color: #AA4D80;
}

.pink-four-text {
  color: #8C426E;
}
.black-text {
  color: black;
}
.black-bg {
  background-color: black;
}
.white-bg {
  background-color: #FFFFFF;
}

.white-text {
  color: white;
}

.grey-text {
  color: #D3D3D3;
}

.grey-bg {
  background-color: #D3D3D3;
}

.height-200 {
  height: 200px;
}
.height-50 {
  height: 200px;
}

.bold-font {
  font-weight: bold;
}

a:visited{
  text-decoration: none !important;
}

.no-deco {
  text-decoration: none;
}

a:hover {
  color: black !important;
  text-decoration: none;
}

a:active {
  color: white !important;
}

#header-link {
  text-decoration: none !important;
}

.vert-center {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.welcome-table {
  padding-bottom: 100px;
}

.home-top {
  height: 30%;
  padding: 50px 0px 50px 0px;
}
.interactive-text {
  color: #F06BA8;
  /*font-family: "Courier";*/
  font-size: 20px;
}

.interactive{
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 3s steps(60, end);
}

.interactive:nth-child(2){
  animation: type2 5s steps(60, end);
}



.interactive:nth-child(3){
  animation: type2 9s steps(60, end);
}

.interactive a{
  color: lime;
  text-decoration: none;
}

.blinking{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


/*tool tip*/
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
