<div header name="name"></div>
<div class="col-md-offset-2 col-md-8">
  <h3>
    {{name ? 'Well looky there ' : ''}}{{name ? name : ''}}{{name ? ' you want to know more about me?' : ''}}
  </h3>
  <h3>
    Just fill out the form below and I will be able to contact you as soon as possible.
  </h3>

  <form novalidate class="simple-form">
      <div class="input-group form-margin">
        <span class="input-group-addon" id="first-name">first name</span>
        <input type="text" ng-model="contact.firstName" class="form-control" aria-describedby="first-name" placeholder="{{name}}"/>
        <span class="input-group-addon" id="last-name">first name</span>
        <input type="text" ng-model="contact.lastNAme" class="form-control" aria-describedby="last-name"/>
      </div>
      <div class="input-group form-margin">
        <span class="input-group-addon" id="email">email</span>
        <input type="text" ng-model="contact.email" class="form-control" aria-describedby="email"/>
        <span class="input-group-addon" id="phone">phone</span>
        <input type="text" ng-model="contact.phone" class="form-control" aria-describedby="phone"/>
      </div>
      <div class="input-group form-margin">
        <span class="input-group-addon" id="message">message</span>
        <input type="text" ng-model="contact.message" class="form-control" aria-describedby="message"/>
      </div>
    <input type="submit" ng-click="update(contact)" value="Save" class="btn btn-default"/>
  </form>

</div>
