<div header name="name"></div>
<div ng-repeat="project in projects">
  <div class="project-container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center grey-bg">
        <a ng-href="{{project.url}}">
          <h4 class="pink-one-text">{{project.title}}</h4>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="col-md-12">
            <p>{{project.text}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pink-one-text">
            <p><i> Project made using
              <span ng-repeat="tech in project.techs">
                {{tech}}{{$last ? '.' : ',' }}
              </span>
            </i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4" ng-repeat="image in project.images">
              <img src="{{image}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
