<div ng-if="!name">
  <div who test="testers"></div>
</div>
<div ng-if="name">
  <div header name="name"></div>
  <div class="col-md-8 col-md-offset-1 welcome-table">
    <table class="table table-sm">
      <tbody>
        <tr ng-repeat="val in allTitles track by val.id">
          <td>
            <a ng-href="{{val.link}}">
              <h3 class="{{val.textcolor}} no-deco text-right">{{val.title}}</h3>
            </a>
          </td>
          <td class="col-xs-7 {{val.color}} ">
            <a ng-href="{{val.link}}" class="white-text no-deco text-left">
              So {{name}}, you want to {{val.text}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
