<div ng-if="name">
  <div class="row white-bg">
    <div ng-repeat="item in collection track by item.id">
      <div class="col-xs-2 height-200 {{item.color}}">
        <div class="vert-center col-md-12 {{item.background}}">
          <span class="vert-center text-center">
            <a ng-href="{{item.link}}" class="{{item.textcolor}}">{{item.title}}</a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-2 height-200">
      <img src="images/ng_lg.png" class="center-block img-padding" width="80%"/>
    </div>
  </div>
</div>
